<table cellpadding="0" cellspacing="0" border="0" class="display" id="pushes">
  <thead>
    <tr>
      <th class="id">ID</th>
      <th class="app_name">App Name</th>
      <th class="framework">Framework</th>
      <th class="exit">Exit</th>
      <th class="created_at">Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @pushes.each do |push| %>
      <tr>
        <td><%= push.id %></td>
        <td><%= push.app_name %></td>
        <td><%= push.framework %></td>
        <td><%= push.exit %></td>
        <td><%= push.created_at %></td>
      </tr>
      <tr>
        <td colspan="5">
          <pre><%= push.compile %></pre>
          <pre><%= push.release %></pre>
          <pre><%= push.debug %></pre>
          <pre><%= push.metadata %></pre>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>